* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
     /*colol ffffff  */

    padding: unset;
    margin: unset;
    border: unset;

    box-sizing: border-box;
}

.navbar {
    padding: 11px 29px; 
}
.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar__nav__list {
    display: flex;
    gap: 27px;
    list-style: none;
}

.navbar__nav__buttons button {
    padding: 7px 12px;
    border-radius: 10px;
    background-color: #F2D230;

}

.fondo-criminal {
    padding: 30px 60px;
}
.jumbotron {
    
}